[project]
name = "sora-python-sdk-samples"
version = "2023.1.0"
description = "Sora Python SDK Samples"
authors = [{ name = "Shiguredo Inc.", email = "contact+pypi@shiguredo.jp" }]
dependencies = [
    "opencv-python~=4.7.0.72",
    "opencv-python-headless~=4.7.0.72",
    "sounddevice~=0.4.6",
    "sora_sdk~=2023.1.0.dev10",
]
readme = "README.md"
requires-python = ">= 3.8"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true

dev-dependencies = ["autopep8~=2.0.2"]

[tool.hatch.metadata]
allow-direct-references = true
